# Basic Data Types

Python has several built-in data types. By default, if no type is given, Python tries to identify the datatype from the given value.

Let's assign a `string` value to a variable, and then check its data type.

In [48]:
product = "Corn Flakes"
print (type(product))

<class 'str'>

This will print `str` as the data type, it was inferred from the given value. We can also check using equality comparison.

In [49]:
type(product)==str

True

Another way to compare the type of a string is to use `isinstance()`.

In [50]:
print(isinstance(product, str))
print(isinstance(product, int))

True
False

The same concept applies to other data types as well.

In [51]:
price = 14.45
quantity = 12
print (type(price))
print (type(quantity))

<class 'float'>
<class 'int'>

We can also cast data types to set the data type exactly how we want.

In [52]:
price = "14"
print (type(price))
price = int("14")
print(type(price))

<class 'str'>
<class 'int'>

Another common data type is `bool` which can store `True` or `False`.

In [53]:
on_discount = True
print(type(on_discount))

<class 'bool'>

For a comprehensive list of data types you can check [Built-in Types](https://docs.python.org/3/library/stdtypes.html).

## Comparison Operators

We can also compare values together using the usual operators such as `==`, `!=`, `>`, etc..

In [54]:
a = 10
b = 6

print (a > b)
print (a == b)
print (a >= b)
print (a != b)

True
False
True
True

We can also use Boolean operators `and`, `or`, and `not`.

In [55]:
a = 10
b = 6
c = 4

print (a>b and c<5)
print (a>b and c>5)
print (a>c and not (b<a))

True
False
False

## Arithmetic Operations

The usual operations like addition, subtraction, multiplication, and division can be used in Python. Let's see how we can use them.

In [56]:
a = 10
b = 4

# Addition
print (a+b)

# Subtraction
print(a-b)

# Multiplication
print(a*b)

# Division
print (a/b)

14
6
40
2.5

To get remainder from a division we can use modulus `%`.

In [57]:
print (14%3)

2

To get whole number when dividing (floor division) we use `//`.

In [58]:
print (8//3)

2

To get exponential number we can use `**`.

In [59]:
# 5 to the power of 3
print (5**3)

125

We can also using compound assignment operators. This can be applied to all operators.

In [60]:
my_age = 24
# instead of using my_age = my_age + 24
my_age += 1
print(my_age)

25

In [61]:
name = "Alex"
surname = "Smith"

print(name+" "+surname)

Alex Smith

In [62]:
print(name*3)

AlexAlexAlex

Trying to combine different data types using these operations will result in an error.

In [63]:
product = str('Corn Flakes')
price = float(2.45)
result = product + price
print (result)

TypeError: can only concatenate str (not "float") to str

## Strings in More Depth

When we have a `str` we access invidiual letters in it using standard array referencing.

In [ ]:
product = "Corn Flakes"
print('First letter is ' + product[0])
print('Third letter is ' + product[2])
print('Last letter is ' + product[-1])
print('First three letters are ' + product[0:3])

First letter is C
Third letter is r
Last letter is s
First three letters are Cor

A string has various methods that can be used on it. Let's check a few of them.

In [ ]:
product = "Corn Flakes Special Edition"

# checks that it only contains alphabet characters (spaces are not included) and is not empty
print ("All alphabet: " + str(product.isalpha()))

# checks if a string contains characters or digits and is not empty
print ("Alphabet / Digits: " + str(product.isalnum()))

# checks if a string contains only digits and is not empty
print ("All digits: " + str(product.isdecimal()))

# changing the case of a string
print ("Lower Case: " + product.lower())
print ("Upper Case: " + product.upper())
print ("Title Case: " + product.title())

# checking patterns in string
print ("Starts with Corn: " + str(product.startswith("Corn")))
print ("Ends with Flakes: " + str(product.endswith("Flakes")))

# we can also replace text
print ("Replace Special: " + product.replace("Special", "Limited"))

# we can split text into a list by choosing a delimiter
print("Split")
print (product.split(" "))

# if you have whitespace you can remove it 
print ("Remove Whitespace: " + product.strip())

# we can also combine strings together 
print ("Combined String: ".join([product, " (with Sale)"]))

# we can look for a match as well, it will return the index of where it's found
print ("Found Flakes at: " + str(product.find("Flakes")))

All alphabet: False
Alphabet / Digits: False
All digits: False
Lower Case : corn flakes special edition
Upper Case : CORN FLAKES SPECIAL EDITION
Title Case : Corn Flakes Special Edition
Starts with Corn: True
Ends with Flakes: False
Replace Special: Corn Flakes Limited Edition
Split
['Corn', 'Flakes', 'Special', 'Edition']
Remove Whitespace :Corn Flakes Special Edition
Corn Flakes Special EditionCombined String:  (with Sale)
Found Flakes at: 5

If using `str` we can only use addition operation to concatenate strings, and multiplication to repeat strings.