## Lists

A Python list is a data structure which can store a collection of items. These items can be of any type, including integers, floats, strings, other lists, and more complex objects. Lists in Python are ordered and mutable, meaning that the elements in a list can be accessed in the order they were added and they can be changed after creation.

Characteristics of Python Lists

- **Ordered**: The elements in a list have a defined order which you can be change.

- **Mutable**: You can change, add, and remove items in a list after it has been created.

- **Various Data Types**: Lists can contain items of different data types including mixing data types within the same list.

- **Dynamic Size**: Python lists can grow or shrink in size as needed, accommodating new elements or removing existing ones.

- **Indexing**: Items in a list can be accessed using their index (that starts from 0). Lists also support slicing, which allows you to create sub-lists.

### Creating a List

A list can be created by simply passing it an array of values.

In [1]:
my_list = ["Python", "Java", "SQL"]
print (my_list)

['Python', 'Java', 'SQL']

We can also use numbers.

In [2]:
my_list = [1, 4, 8]
print(my_list)

[1, 4, 8]

Plus, we can combine data types together as well.

In [3]:
my_list = [1, "Python", "Java", 42]
print(my_list)

[1, 'Python', 'Java', 42]

Lists can also include other lists.

In [4]:
my_list = [1, 2, ["Python", "Java"], 3]
print (my_list)

[1, 2, ['Python', 'Java'], 3]

### Referencing a List

We can reference individual items using indexing (that starts from 0).

In [5]:
my_list = [1, "Python", "Java", 42]

# select first item
print(my_list[0])

# select third item
print(my_list[2])

# select first item from the end
print(my_list[-1])

1
Java
42

If we have nested lists we can use multi-dimensional indexing to choose an item from the nested list.

In [6]:
my_list = [1, 2, ["Python", "Java"], 3]

# selecting the third item
print (my_list[2])

# selecting the last item from the third item
print (my_list[2][-1])

['Python', 'Java']
Java

### Size of List

In order to determine the size of a list we can use `len`.

In [7]:
# empty list
my_list = []
print(len(my_list))

# list with 4 items
my_list = [1, 2, ["Python", "Java"], 3]
print(len(my_list))

0
4

### Adding Elements to a List

We can also add elements to a list using the `append()` method. Only one element can be added at a time. If you want to add multiple elements, you can use a loop.

In [8]:
my_list = []
print ("empty list")
print (my_list)

# adding an item
my_list.append("Python")
print ("After adding an item")
print(my_list)

# adding two more items
my_list.append("Java")
my_list.append("SQL")
print ("After adding 2 more items")
print(my_list)

# we can also add a list to a list
my_list.append([1, 5, 9])
print ("After appending a list")
print(my_list)

empty list
[]
After adding an item
['Python']
After adding 2 more items
['Python', 'Java', 'SQL']
After appending a list
['Python', 'Java', 'SQL', [1, 5, 9]]

`append()` always adds to the end, we can use `insert()` to add an item in a specified position.

In [9]:
# create list
my_list = ["Python", "SQL", "Java"]

# insert item after Python
my_list.insert(1, "R")
print(my_list)

['Python', 'R', 'SQL', 'Java']

Additionaly, we can use `extend()` to insert multiple items.

In [10]:
# create list
my_list = ["Python", "SQL"]

# add multiple items
my_list.extend(["JAVA", "R", "C++"])
print(my_list)

['Python', 'SQL', 'JAVA', 'R', 'C++']

### Removing an Element from a List

We can use `remove()` to remove an item from a list. However, only the first found item is removed.

In [11]:
my_list = ["Python", "SQL", "R", "Python"]

my_list.remove("Python")
print(my_list)

['SQL', 'R', 'Python']

`pop()` can be used to remove an item for a given index. It also returns the value.

In [12]:
print('Original List')
my_list = ["Python", "SQL", "R", "Python"]

# remove 4th item and store it in removed_item
removed_item = my_list.pop(3)

print('Modified List')
print(my_list)

print("Removed Item")
print(removed_item)

Original List
Modified List
['Python', 'SQL', 'R']
Removed Item
Python

### Slicing a List

Slicing allows us to get parts of a list. We can use
- [:index] Get items from beginnging up to specified index.
- [:-index] Get items from beginning up to specified index from the end.
- [index:] Get items from index up to the end.
- [index1:index2] Get items from a specified index upto another index. 

Passed indexes are not included in the returned data.

In [13]:
my_list = ["Python", "JAVA", "R", "SQL"]

# get from first to second element
print(my_list[:2])

# get from first to element before the last
print(my_list[:-1])

# get from third element until the end
print(my_list[2:])

# get from the second to the third element
print(my_list[1:3])

['Python', 'JAVA']
['Python', 'JAVA', 'R']
['R', 'SQL']
['JAVA', 'R']

### List Comprehension

This is used for creating new lists from other iterables (strings, arrays, lists...)

``` new_list = [expression(element) for element in list condition]```

In [14]:
# generate a list from 1 to 10
numbers = [x for x in range(1, 11)]
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# generate a list of squared values from 1 to 10
numbers = [x*x for x in range(1, 11)]
print (numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# generate a list of even numbers
even_numbers = [x for x in range(1, 11) if x % 2==0]
print(even_numbers)

[2, 4, 6, 8, 10]

### List Iteration

We can go through every item in the list as well.

In [17]:
my_list = ["Python", "Java", "R"]

for item in my_list:
    print(item)

Python
Java
R

Also, if we need the index apart from the value itself we can use the function `enumerate()`.

In [18]:
my_list = ["Python", "Java", "R"]

for index, item in enumerate(my_list):
    print(item + " is found at index " + str(index))

Python is found at index 0
Java is found at index 1
R is found at index 2

## List Sorting

Lists can be sorted using the `sort` method. It's important to note that the list order will change. If you want a backup of the list you can copy it using:

`list_copy = list[:]`

In [20]:
my_list = ["Python", "Java", "R"]
my_list.sort()
print (my_list)

['Java', 'Python', 'R']

However if you have mixed data types it can pose a problem.

In [21]:
my_list = ["Python", 1, "R"]
my_list.sort()
print (my_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In this case we can convert everything to string by passing `str` function using `key` parameter.

In [23]:
my_list = ["Python", 1, "R"]
my_list.sort(key=str)
print (my_list)

[1, 'Python', 'R']