# Tuples

A tuple is a data structure similar to a list, but it has a few differences.

- **Immutable**: Once a tuple is created, you cannot modify it. You can't add, change, or remove elements from a tuple.

- **Ordered**: Tuples are ordered collections, meaning the items have a defined order, and that order will not change.

- **Indexed**: Tuples are indexed (just like lists), and you can access their elements using indices. 

- **Mixed Data Types**: Tuples can contain elements of different data types, including integer, float, string, list, dictionary, another tuple, etc.

- **Fixed Size**: Since they are immutable, the number of elements in a tuple is defined at the time of its creation and cannot be altered.

## Creating a Tuple

A tuple can be created by passing a list of values, they can be placed in brackets, or not.

In [1]:
my_tuple = ("Java", 23.45, ["alpha", "beta"])
print (my_tuple)

('Java', 23.45, ['alpha', 'beta'])

In [2]:
my_tuple = "Java", 23.45, ["alpha", "beta"]
print (my_tuple)

('Java', 23.45, ['alpha', 'beta'])

## Accessing Tuple Values

To access a tuple value we can use indices just like lists.

In [4]:
my_tuple = ("Java", 23.45, ["alpha", "beta"])
print (my_tuple[1])

23.45

We can still use slicing and reverese indexing.

In [8]:
# last value
print (my_tuple[-1])

# first two values
print (my_tuple[0:2])

['alpha', 'beta']
('Java', 23.45)

## Additional Operations

We can use `len` to check the size of a tuple, and `sorted` to sort the contents of a tuple.

In [14]:
my_tuple = ("Java", "Python", "C")

print (len(my_tuple))

print (sorted(my_tuple))

3
['C', 'Java', 'Python']

We can check if a value exists in a tuple by using `in`.

In [16]:
my_tuple = ("Java", "Python", "C")

print ("Java" in my_tuple)

True

# Sets

A set is a collection data type that is both unordered and unindexed. Sets are useful for storing unique elements and performing common set operations like unions, intersections, and differences. 

- **Unordered and Unindexed**: Unlike lists and tuples, sets do not have an order, and elements are not indexed. This means you cannot access items in a set by referring to an index or a key.

- **Mutable**: Sets are mutable, meaning you can add or remove items after a set has been created. However, the elements within a set must be immutable (like numbers, strings, and tuples).

- **Unique Elements**: Each element in a set is distinct and unique. If you try to add duplicate elements to a set, they will be ignored, ensuring all elements are unique.

- **Dynamic Size**: Like lists, the size of a set is not fixed; it can grow or shrink as items are added or removed.

- **Mixed Data Types**: Sets can contain elements of different data types (e.g., integers, floats, strings, tuples).

## Create a Set

In order to create a set, we pass a list of values enclosed in `{}` or use the `set()` operator.

In [15]:
my_set = {"Java", "Python", "SQL"}
my_set = set(["Java", "Python", "SQL"])
print (my_set)

{'Python', 'SQL', 'Java'}

## Adding an Element to a Set

To add an element to a set we can use `add()`.

In [17]:
my_set = {"Java", "Python", "SQL"}
my_set.add("C++")

print(my_set)

{'Python', 'SQL', 'C++', 'Java'}

If we add an existing element, it will be ignored since a set can only contain unique values.

In [19]:
my_set = {"Java", "Python", "SQL"}
my_set.add("Java")
print(my_set)

{'Python', 'SQL', 'Java'}

## Removing an Element from a Set

To remove an element from a set we can use `remove()`.

In [20]:
my_set = {"Java", "Python", "SQL"}
my_set.remove("Java")
print(my_set)

{'Python', 'SQL'}

## Checking Existence of Value

In order to check if a set contains a value we can still use `in`.

In [21]:
my_set = {"Java", "Python", "SQL"}
print ("Python" in my_set)

True

## Set Operations

We can use set operations like union `|`, intersect `&`, and difference `-` on multiple sets.

*Union* returns all the items in the combined sets. If elements repeat, they are only listed once.

In [24]:
set_a = {"Apple", "Orange", "Lemon"}
set_b = {"Lemon", "Kiwi"}

print (set_a | set_b)

{'Apple', 'Kiwi', 'Lemon', 'Orange'}

*Intersect* returns the common elements between the two sets.

In [25]:
set_a = {"Apple", "Orange", "Lemon"}
set_b = {"Lemon", "Kiwi"}

print (set_a & set_b)

{'Lemon'}

*Difference* removes the elements from the set. Important to note that the order it's done affects the outcome.

In [26]:
set_a = {"Apple", "Orange", "Lemon"}
set_b = {"Lemon", "Kiwi"}

print (set_a - set_b)
print (set_b - set_a)

{'Orange', 'Apple'}
{'Kiwi'}