# Exercise Loops and Conditions

## Part 1

In [2]:
# q1
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# 2
num = 5
while num <= 10:
    print(num)
    num+=1

5
6
7
8
9
10

In [4]:
# 3
num = 4
if num % 2 == 0:
    print ('even')
else:
    print('odd')

even

In [5]:
# 4
fruits = ['apple', 'banana', 'orange', 'lemon', 'lime']
for fruit in fruits:
    print (fruit.upper())

APPLE
BANANA
ORANGE
LEMON
LIME

In [6]:
# 5
nums = [12, 45, 21, 67, 34]
for num in nums:
    if (num%2==0):
        print(num)

12
34

In [1]:
# 6
names = []
while len(names)<3:
    name = input("enter a name:")
    if name:
        names.append(name)
print (names)

['Alan', 'Peter', 'Hjo']

In [2]:
# 7
score = 85  # Change this score to test
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

B

## Part 2

In [4]:
# q8
details = {
    "Alex" : 41,
    "Pete": 12,
    "Sarah": 20,
    "Emily": 9
}

for item in details:
    if(details[item]>18):
        print(item)

Alex
Sarah

In [5]:
# q9
for num in range(3, 6):
    for times in range(1, 13):
        print (f"{num} x {times} = {num*times}")
    print("\n")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [7]:
# 10
itr = 0
while True:
    itr+=1
    print(itr)
    if (itr==7):
        break

1
2
3
4
5
6
7

In [8]:
# 11
nums = [6, 10,15, 1, 5]
for num in nums:
    if num>10: 
        print(num)

15

In [14]:
# 12
import random
nums = set()
for i in range(0, 5):
    nums.add(random.randint(1, 100))

for num in nums:
    print(num)

33
5
9
12
46

In [15]:
# 13
sentence = 'Today is a sunny day.'

count = 0
for letter in sentence:
    if letter == 'a':
        count+=1

print(count)

3

In [16]:
# 14
sentence = 'Today is a sunny day.'

count = 0
for letter in sentence:
    if letter == ' ':
        continue
    print(letter)

T
o
d
a
y
i
s
a
s
u
n
n
y
d
a
y
.

## Part 3

In [20]:
# 15
scores = [
    ("Alex", 15),
    ("Sarah", 90),
    ("Will", 56)
]

for name,score in scores:
    if (score>75):
        print(name)

Sarah

In [21]:
#16
while True:
    text = input("Type something (exit quit):")
    if text == 'exit':
        break
    print(f"You typed f{text}")

You typed fwwi
You typed fexuit

In [25]:
# 17
squares = {i: i**2 for i in range(1,11)}

for value in squares.values():
    print(value)

1
4
9
16
25
36
49
64
81
100

In [26]:
# 18
list1 = ['a', 'b', 'c']
list2 = ['x', 'y', 'z']

for i in range(len(list1)):
    print (list1[i], list2[i])

a x
b y
c z

In [27]:
#19
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [28]:
#20
nums = [1,2,3,4,5]
new_numbers = [num *2 if num %2 ==0 else num*3 for num in nums]

print(new_numbers)

[3, 4, 9, 8, 15]