# Data Cleaning

Pandas and NumPy libraries are powerful tools for data manipulation and cleaning, and these two tools are often used in data analysis and machine learning pipelines. 

Data cleaning is very important for obtaining accurate insights, as it involves preparing and tidying data for analysis by handling missing values, removing duplicates,and correcting errors amongst others. 

Next, we are going to see various tasks that can be done during the data cleaning stage.

## Handling Missing Data

- **Identifying Missing Data**: Detecting null or missing values using methods like `isnull()`.
- **Filling Missing Values**: Inputing missing values with a specific number like the mean, media, or model of a column using the function `fillna()`.
- **Dropping Missing Values**: Removing rows or columns with missing values using `dropna()`.

### Identifying Missing Data

You can detect missing values in a DataFrame using `isnull()`, which returns a boolean mask indicating missing values.

In [4]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({'A': [1, None, 3], 'B': [4, 5, None]})
print(df.isnull())

       A      B
0  False  False
1   True  False
2  False   True

### Filling Missing Values

Missing values can be imputed using `fillna()`. This can be done with a specific value, or using the mean, median, or mode.

In [10]:
df_temp1 = df.copy()
df_temp2 = df.copy()

# Filling missing values with a specific value
df_temp1.fillna(0, inplace=True)
print(df_temp1)

# Filling with the mean of the column
df_temp2['A'] = df_temp2['A'].fillna(df_temp2['A'].mean())
print(df_temp2)

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0
     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  NaN

### Dropping Missing Values

Rows or columns with missing data can be removed using `dropna()`.

In [12]:
df_temp1 = df.copy()
df_temp2 = df.copy()

# Dropping rows with any missing values
df_temp1.dropna(inplace=True)
print(df_temp1)
print('\n')

# Dropping columns with any missing values
df_temp2.dropna(axis=1, inplace=True)
print(df_temp2)

     A    B
0  1.0  4.0


Empty DataFrame
Columns: []
Index: [0, 1, 2]

## Data Type Conversion

- **Type Casting**: Changing the data type of columns to the correct type (e.g. converting strings to numeric types) using `astype()`.

In [16]:
df = pd.DataFrame({'A': ['1', None, '3'], 'B': [4, 5, None]})
print(df.dtypes)

df['A'] = df['A'].astype('float64')
print(df.dtypes)

A     object
B    float64
dtype: object
A    float64
B    float64
dtype: object

## Renaming Columns

- **Changing Column Names**: Renaming one or more columns for better readability of consistency using `rename()`.

In [17]:
df = pd.DataFrame({'A': [34, 100, 92], 'B': [41, 51, 98]})
df.rename(columns={'A': 'English', 'B': 'Maths'}, inplace=True)
df.head()

   English  Maths
0       34     41
1      100     51
2       92     98

## Handling Duplicates

- **Detecting Duplicates**: Identifying duplicate rows using `duplicated()`. 
- **Removing Duplicates**: Deleting duplicate rows to ensure data uniqueness using `drop_duplicates()`.

### Detecting Duplicates

You can identify duplicate rows using `duplicated()`.

In [25]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})
print(df.head())

# Last row with values (34, 13) already exists (row 0)
df.duplicated()

     A   B
0   34  13
1  100  51
2   92  98
3   34  13

0    False
1    False
2    False
3     True
dtype: bool

### Removing Duplicates

Duplicate rows can be removed with `drop_duplicates()`.

In [27]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})
print(df.head())
print("\n")

df.drop_duplicates(inplace=True)
print(df.head())

     A   B
0   34  13
1  100  51
2   92  98
3   34  13


     A   B
0   34  13
1  100  51
2   92  98

## Filtering Data

- **Row or Column Selection**: Selecting a subset of rows or columns based on specific criteria using slicing, `loc[]`, or `iloc[]`.
- **Conditional Filtering**: Filtering data based on certain conditions using boolean indexing.

### Row or Column Selection

In [29]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})

# select rows 0 to 2
print(df.iloc[0:3])

#select rows where column A is greater than 50
print(df.loc[df['A']>50])

     A   B
0   34  13
1  100  51
2   92  98
     A   B
1  100  51
2   92  98

### Conditional Filtering

Rows can be filtered based on conditions applied to column values.

In [30]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})

filtered_df = df[df['A']>50]
filtered_df.head()

     A   B
1  100  51
2   92  98

## Data Normalisation and Standardisation

- **Feature Scaling**: Rescaling features to a certain range or standard deviation to normalise data distribution using methods like Min-Max Scaling, or Z-score normalisation.

In [31]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})

# Manual Min-Max Scaling to [0, 1] range
df['A'] = (df['A'] - df['A'].min()) / (df['A'].max() - df['A'].min())

df.head()

          A   B
0  0.000000  13
1  1.000000  51
2  0.878788  98
3  0.000000  13

We can also extract this in a function.

In [33]:
def normalize(col):
   return (col - col.min()) / (col.max() - col.min())

df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})
df_normalised = df.copy()
df_normalised = df_normalised.apply(normalize)
df_normalised.head()

          A         B
0  0.000000  0.000000
1  1.000000  0.447059
2  0.878788  1.000000
3  0.000000  0.000000

## Data Transformation

- **Applying Functions**: Using `apply()` to apply a function to each element, row or column.
- **Aggregation**: Summarising data using aggregation functions like `sum()`, `mean()`, `median()`, `max()`, and `min()` with `groupby()` for grouped operations.

### Applying Functions

The `apply()` method allows applying a function along an axis of the DataFrame.

In [39]:
df = pd.DataFrame({'A': [34, 100, 92, 34], 'B': [13, 51, 98, 13]})

df['A'] = df['A'].apply(lambda x: x/df['A'].mean())
df.head()

          A   B
0  0.523077  13
1  1.538462  51
2  1.415385  98
3  0.523077  13

### Aggregation

Data can be aggregated using functions like `sum()`, `mean()`, etc., particularly after grouping.

In [43]:
df = pd.DataFrame({'Subject': ['English', 'Maths', 'English', 'Maths', 'French'], 'Grades': [90,40,56, 10, 12]})
print(df.groupby('Subject')['Grades'].mean())

Subject
English    73.0
French     12.0
Maths      25.0
Name: Grades, dtype: float64

## Data and Time Handling

- **Parsing Dates**: Converting string representations of dates and times into datetime objects using `pd.to_datetime()`.
- **Date Manipulation**: Extracting or modifying components of dates (like day, month, year) and performing date arithmetic.

### Parsing Dates

Strings representing dates and times can be converted to datetime objects.

In [46]:
df = pd.DataFrame({'Person': ['Alex', 'Sarah', 'Joee'], 'DOB': ['2010-01-01', '1990-04-21', '1992-06-12']})
print(df.dtypes)
print("\n")

df['DOB'] = pd.to_datetime(df['DOB'])
print(df.dtypes)
print(df.head())

Person    object
DOB       object
dtype: object


Person            object
DOB       datetime64[ns]
dtype: object
  Person        DOB
0   Alex 2010-01-01
1  Sarah 1990-04-21
2   Joee 1992-06-12

### Data Manipulation

Components of dates can be extracted or manipulated.

In [47]:
df = pd.DataFrame({'Person': ['Alex', 'Sarah', 'Joee'], 'DOB': ['2010-01-01', '1990-04-21', '1992-06-12']})
df['DOB'] = pd.to_datetime(df['DOB'])
df['Year'] = df['DOB'].dt.year
df.head()

  Person        DOB  Year
0   Alex 2010-01-01  2010
1  Sarah 1990-04-21  1990
2   Joee 1992-06-12  1992

## Categorical Data Handling

- **Encoding Categorical Variables**: Transforming categorical variables into a form that could be provided to machine-learning algorithms using methods like one-hot encoding with `pd.get_dummies()`.

In [48]:
df = pd.DataFrame({'Sensor A': [12, 45, 12], 'Temperature': [23, 23, 25], 'Location': ['Roof', 'Roof', 'Ground']})
df = pd.get_dummies(df, columns=['Location'])
df.head()

   Sensor A  Temperature  Location_Ground  Location_Roof
0        12           23            False           True
1        45           23            False           True
2        12           25             True          False

## Text Data Cleaning

- **String Operations**: Applying string methods over series objects to clean text data, such as removing whitespace, changing case, or using regular expressions for pattern matching.

In [51]:
df = pd.DataFrame({'Sensor A': [12, 45, 12], 'Temperature': [23, 23, 25], 'Location': ['ROOF', '  Roof', 'GrounD ']})
df.head()

df['Location'] = df['Location'].str.lower().str.strip()
df.head()

   Sensor A  Temperature Location
0        12           23     roof
1        45           23     roof
2        12           25   ground

## Outlier Detection and Handling

- **Identifying Outliers**: Using statistical methods or visualization to detect outliers.
- **Handling Outliers**: Removing, capping, or otherwise adjusting outliers to minimize their effect on data analysis.

### Identifying Outliers

Outlicers can be identified usign varoius statistical methods. In this case we are finding outliers have a z-score of greater than 2. Z-score tells us the number of standard deviations a value is from the mean.

In [74]:
data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

mean = data["Sales"].mean()
std = data["Sales"].std()

outliers = data[(data["Sales"]-mean).abs()/std > 2]
print(outliers)

   Sales
5    900

### Handling Outliers

In certain instances outliers can be removed.

In [75]:
data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

mean = data["Sales"].mean()
std = data["Sales"].std()

no_outliers = data[(data["Sales"]-mean).abs()/std < 2]
print(no_outliers)

   Sales
0     45
1     50
2     30
3     20
4     50

## Statiscial Analysis with Pandas and NumPy

### Mean

The mean is hte average of all numbers and is typically used to find the central tendency of data.

In [78]:
import pandas as pd
import numpy as np

data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

print(data["Sales"].mean())

#or
print(np.mean(data["Sales"]))

182.5
182.5

### Median

The median is the middle value when the data points are arranged in order. It's useful in skewed distributions as it better represents the center of the data.

In [79]:
import pandas as pd
import numpy as np

data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

print(data["Sales"].median())

#or
print(np.median(data["Sales"]))

47.5
47.5

### Mode

The mode is the value that appears most frequently in a data set. A set of data may have one mode, more than one mode, or no mode at all.

In [81]:
import pandas as pd
import numpy as np

data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

print(data["Sales"].mode()[0])

50

### Standard Deviation

Standard deviation measures the amount of variation or dispersion of a set of values. A low standard deviation means that the values tend to be close to the mean, whereas a high standard deviation means that the values are spread out over a wider range.

In [87]:
import pandas as pd
import numpy as np

data = pd.DataFrame({"Sales" : [45, 50, 30, 20, 50, 900]})

print(data["Sales"].std())

#or
print(np.std(data["Sales"], ddof=1))
# if ddof is 0, population is used

351.7065538200845
351.7065538200845

### Additional Statistical Functions

Both Pandas and NumPy offer additional functions to compute other statistical measures, such as:

- **Variance**: Measures how much the data are spread out from the mean.
- **Quantiles/Percentiles**: Indicate the value below which a given percentage of observations in a group of observations fall.
- **Sum**: Total sum of all values in a dataset.
- **Count**: Number of non-NA/null observations.
- **Min/Max**: Minimum and maximum values in a dataset.

In [90]:
variance = data['Sales'].var()
quantile_25 = data['Sales'].quantile(0.25)  # 25th percentile
sum_values = data['Sales'].sum()
count_values = data['Sales'].count()
min_value = data['Sales'].min()
max_value = data['Sales'].max()

print(f"Variance: {variance}")
print(f"25th Percentile: {quantile_25}")
print(f"Sum: {sum_values}")
print(f"Count: {count_values}")
print(f"Min: {min_value}")
print(f"Max: {max_value}")

Variance: 123697.5
25th Percentile: 33.75
Sum: 1095
Count: 6
Min: 20
Max: 900

The same can be done using NumPy.

In [92]:
variance = np.var(data['Sales'], ddof=1)
quantile_25 = np.quantile(data['Sales'], 0.25)
sum_values = np.sum(data['Sales'])
count_values = np.size(data['Sales'])
min_value = np.min(data['Sales'])
max_value = np.max(data['Sales'])

print(f"Variance: {variance}")
print(f"25th Percentile: {quantile_25}")
print(f"Sum: {sum_values}")
print(f"Count: {count_values}")
print(f"Min: {min_value}")
print(f"Max: {max_value}")

Variance: 123697.5
25th Percentile: 33.75
Sum: 1095
Count: 6
Min: 20
Max: 900