In [2]:
#1
import pandas as pd

sales = pd.read_csv("./assets/sales.csv")
sales.head(5)

         date  product  quantity  price_sold
0  2024-01-01   apples       100         1.2
1  2024-01-01    kiwis        93         0.6
2  2024-01-01  bananas       200         1.1
3  2024-01-02   apples        45         1.2
4  2024-01-02    kiwis        10         0.8

In [3]:
#2
import pandas as pd

sales = pd.read_csv("./assets/sales.csv")
sales.to_csv("./assets/sales_copy.csv", index=False)

In [2]:
#3
import pandas as pd

df_inventory = pd.read_excel("./assets/inventory.xlsx", sheet_name="Stock")
df_inventory.head(5)

      Product  Quantity Shelf
0      Apples       100    A1
1       Kiwis       200    A2
2      Banana       300    A1
3  Grapefruit       100    A3
4      Lemons        20    A5

In [3]:
#3
import pandas as pd

df_inventory = pd.read_excel("./assets/inventory.xlsx", sheet_name="Stock")
df_inventory.to_excel("./assets/inventory_copy.xlsx", sheet_name="Inventory", index=False)

In [4]:
#5
import pandas as pd

try:
    sales = pd.read_csv("./assets/sales.cs")
    sales.head(5)
except FileNotFoundError:
    print("Error: File Not Found :(")

Error: File Not Found :(

In [7]:
#6
import pandas as pd

try:
    sales = pd.read_csv("./assets/sales.csv", usecols=["date", "product", "quantity"])
    print(sales.head(5))
except FileNotFoundError:
    print("Error: File Not Found :(")

         date  product  quantity
0  2024-01-01   apples       100
1  2024-01-01    kiwis        93
2  2024-01-01  bananas       200
3  2024-01-02   apples        45
4  2024-01-02    kiwis        10

In [8]:
#7
import pandas as pd

clients = pd.read_json("./assets/clients.json")
clients.head(5)

    name  surname  age                    email phone_number
0   Alex    Smith   29     alex.smith@email.com     555-0101
1  Maria   Garcia   34   maria.garcia@email.com     555-0102
2  James  Johnson   24  james.johnson@email.com     555-0103
3  Emily    Davis   28    emily.davis@email.com     555-0104
4  Ethan   Miller   32   ethan.miller@email.com     555-0105

In [15]:
#8
import pandas as pd

clients = pd.read_json("./assets/clients.json")
clients.to_json("./assets/clients_copy.json", orient="records", lines=True)

In [26]:
#9
import pandas as pd

excel = pd.ExcelFile("./assets/data.xlsx")
print(excel.sheet_names)

['January', 'March', 'Total Sales']

In [29]:
#10
import pandas as pd

df_jan = pd.read_csv("./assets/sales_jan.csv")
df_feb = pd.read_csv("./assets/sales_feb.csv")
df = pd.concat([df_jan, df_feb])
df.to_csv("./assets/sales_janfeb.csv", index=False)

In [31]:
#11
import pandas as pd

data = pd.read_csv("./assets/sales.csv")
data[data['quantity']>50]

         date  product  quantity  price_sold
0  2024-01-01   apples       100         1.2
1  2024-01-01    kiwis        93         0.6
2  2024-01-01  bananas       200         1.1
5  2024-01-02  bananas       200         1.1
7  2024-01-03  bananas       500         0.2

In [34]:
#12
chunk_size = 1000
chunk_count = 1

for chunk in pd.read_csv("./assets/big_file.csv", chunksize=chunk_size):
    print(f"Processing chunk {chunk_count}")
    chunk_count+=1
    if chunk_count>3:
        break

Processing chunk 1
Processing chunk 2
Processing chunk 3