In [63]:
import pandas as pd
import numpy as np

In [64]:
#q1
df_sales = pd.read_csv('./assets/sales_data.csv')
df_sales_extra = pd.read_csv('./assets/sales_data_extra.csv')

In [65]:
#q2
sales = pd.concat([df_sales, df_sales_extra])

In [66]:
#3
print(sales.head())
print(sales.dtypes)
print(sales.describe())

         Date  Sales  CustomerID    Product  Quantity
0  2021-01-13  362.0          11  Product D         3
1  2021-01-16  147.0           5  Product A         5
2  2021-01-22  227.0           4  Product C         8
3  2021-01-01  231.0           9  Product B         5
4  2021-01-04  456.0          15  Product C         5
Date           object
Sales         float64
CustomerID      int64
Product        object
Quantity        int64
dtype: object
             Sales  CustomerID    Quantity
count    97.000000  105.000000  105.000000
mean    430.175258   10.104762    5.133333
std     667.758627    5.347400    2.410181
min     100.000000    1.000000    1.000000
25%     195.000000    5.000000    3.000000
50%     297.000000   10.000000    5.000000
75%     417.000000   15.000000    7.000000
max    4520.000000   19.000000    9.000000

In [67]:
#4
print(sales.isnull().sum())

Date          0
Sales         8
CustomerID    0
Product       0
Quantity      0
dtype: int64

In [68]:
#5 
sales.fillna({"Sales": sales["Sales"].median()}, inplace=True)
print(sales.isnull().sum())

Date          0
Sales         0
CustomerID    0
Product       0
Quantity      0
dtype: int64

In [69]:
print(sales.dtypes)

Date           object
Sales         float64
CustomerID      int64
Product        object
Quantity        int64
dtype: object

In [70]:
#6
sales["Date"] = pd.to_datetime(sales["Date"])
sales["Sales"] = sales["Sales"].astype(float)
print(sales.dtypes)

Date          datetime64[ns]
Sales                float64
CustomerID             int64
Product               object
Quantity               int64
dtype: object

In [71]:
#7
print(sales.duplicated().sum())
sales.drop_duplicates(inplace=True)

5

In [72]:
#8
sales.columns = sales.columns.str.lower()
sales.head()

        date  sales  customerid    product  quantity
0 2021-01-13  362.0          11  Product D         3
1 2021-01-16  147.0           5  Product A         5
2 2021-01-22  227.0           4  Product C         8
3 2021-01-01  231.0           9  Product B         5
4 2021-01-04  456.0          15  Product C         5

In [73]:
#q9
Q1 = sales["sales"].quantile(0.25)
Q3 = sales["sales"].quantile(0.75)
IQR = Q3 - Q1
sales = sales[(sales["sales"] >= (Q1-1.5*IQR)) | (sales["sales"] <= (Q3+1.5*IQR))]

In [74]:
#q10
sales = pd.get_dummies(sales, columns=["customerid", "product"])
sales.head()

,date,sales,quantity,customerid_1,customerid_2,customerid_3,customerid_4,customerid_5,customerid_6,customerid_7,...,customerid_14,customerid_15,customerid_16,customerid_17,customerid_18,customerid_19,product_Product A,product_Product B,product_Product C,product_Product D
0,2021-01-13,362.0,3,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2021-01-16,147.0,5,False,False,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,2021-01-22,227.0,8,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,2021-01-01,231.0,5,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,2021-01-04,456.0,5,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [75]:
#q11
sales['year'] = sales['date'].dt.year
sales['month'] = sales['date'].dt.month

In [78]:
#q12
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
sales[['sales', 'quantity']] = scaler.fit_transform(sales[["sales", "quantity"]])

In [80]:
#13
sales.to_csv("./assets/sales_cleaned.csv", index=False)